html {
    width: 100%;
    height: 100vh;
}

body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Oswald', sans-serif;;
    color: black;
}

.body-store-sc{
    background-image: url(../assets/Fondo\ Pagina\ WEB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Oswald', sans-serif;;
    color: black;
}

.landing {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr 1/2fr ;
}

.landing-events-sc {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr 1/2fr ;
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 125px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    position: fixed;
    z-index: 10;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(247,200,115,0.4);
    -moz-box-shadow: 0px 4px 5px 0px rgba(247,200,115,0.4);
    box-shadow: 0px 4px 5px 0px rgba(247,200,115,0.4);
}

.logo-main{
    width: 190px;
    height: 160px;
}

.links-menu {
    display: flex;
    font-size: medium;
}

.links-menu li {
    list-style-type: none;
    margin-inline: 20px;
    align-self: center;
}

.links-menu li a{
    color: black;
    text-decoration: none;
}

.toggle-menu {
    position: absolute;
    right: 0px;
    top: 65px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-right: 6px;
    height: 40px;
    width: 40px;
}

.toggle-menu .bar{
    align-items: center;
    width: 30px;
    height: 10px;
    background-color: black;
    border-radius: 4px;
}

.redes img {
    width: 30px;
    height: 30px;
    margin-inline: 6px;
}

.prueba {
    background-color: #F7C873;
    width: 500px;
    height: 1000px;
    display: flex;
    justify-self: center;
}

.section-texto {
    margin-top: 160px;
    grid-template-rows: 1fr 1/2fr;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
}

.section-texto h1 {
    width: auto;
    margin-top: 30px;
    margin-bottom: -30px;
}

.texto-base-sc {
    color: #F7C873;
}

.section-texto h2 {
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    color: #FAEBCD;
    font-size: 40px;
    margin-top: 0px;
}

.parrafo {
    display: flex;
    justify-self: center;
    text-align: center;
    font-weight: 300;
    width: 560px;
    height: auto;
    margin-bottom: 100px;
    color: white;
}

.parrafo-index{
    display: flex;
    justify-self: center;
    text-align: center;
    font-weight: 300;
    width: 560px;
    height: auto;
    margin-bottom: 30px;
    color: white;
}

.parrafo-base {
    display: flex;
    justify-self: center;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    width: 560px;
    height: auto;
    margin-bottom: 10px;
    color: white;
}

.container-boton {
    display: flex;
    justify-content: center;
}

.boton-sign-up {
    font-family: 'Bebas Neue', cursive;
    margin-top: 0px;
    height: 50px;
    width: 200px;
    background-color: #F7C873;
    border: none;
    border-radius: 15px;
    font-size: x-large;
    font-weight: bold;
}

.boton-sign-up:hover {
    transition: 0.5s ease-out 200ms;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

.sign-in-shortcut {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    color: white;
}

.sign-in-shortcut a{
    display: flex;
    justify-content: center;
    color: #D6E6F2;
}

.sign-in-shortcut a:hover{
    display: flex;
    justify-content: center;
    color: #ffae00;
}

.container-base {
    position: relative;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    background-color: #ffae00;
}

.legend {
    position: absolute;
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    bottom: 182px;
    right: 0px;
  }

.container-base img{
    height: 650px;
    width: 100%;
}

.container-image{
    height: 650px;
    width: 100%;
    padding: 4px;
}

#map {
    box-sizing: border-box;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.parrafos {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: flex-start;
    text-align: center;
    width: 400px;
}

.footer {
    display: flex;
    color: white;
    justify-content: center;
}

.footer p{
    justify-self: center;
}

.logos-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.logos-footer img{
    margin-inline: 25px;
}

.logos-footer :nth-child(2) {
    align-self: center;
    width: 80px;
    height: 80px;
}

@media (max-width: 640px) {

    .body-store-sc {
        background-size: auto 100%;
        background-position: center;
    }

    .logo {
        display: block; 
        align-items: center;
        width: 190px;
        height: 160px;
    }

    .landing {
        height: auto;
    }

    .barra-navegacion {
        height: auto;
        display: block;
        align-items: flex-start;
    }

    .menu {
        justify-content: center;
        padding-left: 0px;
   }

   .menu.active {
    display: flex;
    align-self: center;
    }

    .links-menu {
        display: none;
        flex-direction: column;
        padding-left: 0px;
    }

    .links-menu li{
        align-self: center;
    }


   .links-menu.active{
        display: flex;
        align-self: center;
    }


   .toggle-menu {
        display: flex;
   }

   .redes {
        display: none;
   } 

   .texto{
        margin-top: 10px;
   }

   .section-texto {
    font-size: 10vw;
    height: auto;
    width: auto;
    }

    .section-texto h2 {
       font-size: 5vw;
       margin-top: 10vw;
    }

    .texto-base-sc {
        color: #F7C873;
        font-size: 60px;
    }

    .parrafo-index{
        width: auto;
        height: auto;
        
    }

    .parrafo-base {
        width: auto;
        box-sizing: border-box;
        margin-inline: 10px;
        margin-top: 20px;
        margin-bottom: auto;
    }

    .title {
        font-size: larger;    
    }

    .subtitle {
        font-size: medium;
    }
}